@font-face {
    font-family: "Source seriffPro";
    src: url('fonts/SourceSerifPro-Regular.ttf') format('truetype');
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* overflow-x: hidden;   */
    
    
}



/* html,body{
    max-width:100%;
    /* height:100%; */
    /* margin:0;
    padding:0; */
    /* overflow-x: hidden; */
    

html, body {
    max-width: 100%;
    overflow-x: hidden;
    
}

.header{
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)),url(images/mainimage.png);
    background-size: cover;
    background-position: center;
    background-color: black;
    
}   

.contact-header{
    max-width: 100%;
    height: 100vh;
    background-color: black;
    
}  

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.logo{
    color: white;
    font-size: 38px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 70px;
   

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #0DBA4B;
}

.membership{
    color: #0DBA4B;
    
}
.membership:hover{
    color: white;
    
}
.main-content{
    display: flex;
    justify-content: space-between;
    
}

h1{
    color: white;
}

span{
    font-size: 40%;
    font-weight: normal;
}

.section1{
    display: inline-flex;
    
    justify-content: space-between;
}

.section1-item{
    padding: 10px;
    padding-top: 30px;
    
}

#section1-text{
    color: white;
    align-self: center;
    
}

#section1-text2{
    color: white;
    align-self: center;
    
}

.button1{
    background-color: #0DBA4B;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border-color: #0DBA4B;
    margin-top: 20px;
    padding: 15px 25px;
}

.content-area{
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    flex: 0.8;
    
    
    
    

}

h1{
    font-size: 480%;
}


#section1-text2{
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-area2{
    
    display:inline;
    width: 200px;
    
    
    
    
  
   
}


#mainimage2{
    

    margin-top: -170px; 
    margin-bottom: 100px;

    margin-left: -340px;
    
    scale: 0.6;
   


}





    
    
  /* } */ 
  /* .rectangle {
    width: 150px; 
    height: 100px;
    background-color: black;
    opacity: 0.5;
    margin: 0 10px;
    border-radius: 65px;
    
  } */


  /* .rectangle:nth-child(1) {
    height: 50%;
    
  }


  .rectangle:nth-child(2) {
    height: 85%;
  }


  .rectangle:nth-child(3) {
    
    height: 85%;
    
    
  }
  .rectangle:nth-child(4) {
    height: 60%;
    align-self: flex-start;
  }


  .rectangle:nth-child(5) {
    height: 70%;
    background: transparent;
  } */
 

  .footer{
    /* width: 100%; */
    /* height: 100%; */

    /* background-size: cover; */
    background-position: center;
    background-color: white;
} 

.content-area4{
    padding-top: 100px;
    max-width: 100%;
    
    padding-left: 5%;
    padding-right: 5%;

}

h2{
    font-size: 350%;
    font-weight: lighter;
    text-align: justify;
    font-family: "Source seriffPro";
    color: #2E598A;

    
}

.footer h1{
    color: #1A3453;
    padding-top: 30px;
    font-family: "Source seriffPro";
}

.rect {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 100px;
  }
  
  .rect-a, .rect-b {
    flex: 1;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    justify-content: space-around;
    font-size: 350%;
    
    
  }
  
  .rect-a {
    background-color: white;
    border: 1px solid black;
    border-color: #ABBDD0;
    
  }
  
  .rect-b {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    position: relative;
    border: 1px solid black;
    padding: 5px;
    
    
    border: none;

    align-items: center;
    justify-content: center;
    
    
   
    
  }
  
  
  
  .half-top {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #0DBA4B;
    top: 0;
    color: white;
    /* text-align: center; */
    border-bottom: 10px solid  ;
    outline: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   

    
  }
  
  .half-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #2B2B2B;
    bottom: 0;
    color: white;
    text-align: center;
    border-top: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  
  }
  

.half-bottom img{
   
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    margin-left: -390px;
    scale: 50%;
}


.section-footer{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    height: 500px;
    gap: 20px;
}

.left  {
    display: flex;
    flex: 1;
    /* background-color: blue; */

}

.right  {
    display: flex;
    display: block;
    flex: 3;
}

.right h3{
    padding-left: 10%;
    color: #1A3453;
    font-family: "Source seriffPro";
    font-size: 300%;
    font-weight: lighter;
    
    
}

.right-container{
    display: flex;
    
    /* justify-content: space-between; */
    /* border: 2px solid yellow; */
     /* flex-wrap: nowrap; */
     padding-left: 10%;
}




.right-green, .right-black{
    display: flex;
    flex: 1;
    height: 50px;
    width: 50%;   
    padding-left: 50px;
    
}

.right-green{
    background-color: #0DBA4B;
}

.right-black{
    background-color: #27262C;
}




.right-container2{
    display: flex;    
    padding-left: 10%;
}




.right-white, .right-grey, .right-transparent{
    display: flex;
    flex: 1;
    height: 50px;
    width: 50%;   
    padding-left: 50px;
    
}

.right-white{
    background-color: #FFFFFF;
    border: 1px solid #B4B4B4;
}

.right-grey{
    background-color: #707070;
    
}

.section-footer2{
    display: flex;
    justify-content: space-between;
    height: 650px;
    gap: 20px;
    
}

.left2  {
    display: flex;
    flex: 2;
    

}

.right2  {
    display: flex;
    display: block;
    flex: 1;
}

.section-footer2 {
    padding-left: 10%;
    
}
.section-footer2 h2{
    margin-top: 100px;
}

.section-footer2 h1 {
    margin-top: 50px;
    font-size: 90px;
    font-weight: lighter;
}


.section-footer2 span{
    font-size: 50px;
}

.f-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    
  }
  
  .f-rectangle {
    width: 300px;
    height: 430px;
    background-color: white;
    border: 1px solid #B4B4B4 ;
    border-radius: 20px;
    margin-top: -30px;
    position: relative;
  }

  .f-container img{
    width: 250px;
    display: block;
    margin: auto;
    padding-top: 25px;
  }


  #bottom{
    position: absolute;
    bottom: 0;
    margin: auto;
    text-align: center;
    border: 1px solid yellow;
    width: inherit;
    padding: 10% 10% 15% 15px;
    font-size: 24px;
    font-weight: bold;
  }
      
.footer3{
    display: flex;
    justify-content: space-between;    
    height: 500px;
    gap: 20px;
    padding-left: 10%;
    margin-top: 50px;
}


.right-values span{    
    padding-left: 10%;
    font-size: 150%;
    color: #0DBA4B;
    font-weight: bold;

}




.right-blac p{
    font-size: 24px;
    font-weight: bold;    
    padding-right: 60px;
    padding-top: 25px;
    

}


.right-values h1{
    color: black;
    padding-left: 10%;
    font-size: 400%;    
    margin-right: 160px;
    
}

.left-picture  {
    display: flex;
    flex: 1;
    border: 1px solid orange;
    

}

.right-values  {
    display: flex;
    display: block;
    flex: 3;
    border: 1px solid purple;
}



.right-container{
    display: flex;
    padding-left: 10%;
}


.right-gree{
    scale: 0.7;
}




.footer4{
    display: flex;
    justify-content: space-between;
}

.left-brochure  {
    flex: 1;
    border: 1px solid orange;

    

}

.right-brochure  {
    flex: 1;
    border: 1px solid purple;
    background: #ECECEC;
    ;
}


.lb-picture{
    max-width: 100%;
    background: transparent;
    background-color: black;


}
.lb-div{    
    background-image:  url(images/unsplash_JBwcenOuRCg.png);
    height: 1150px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    
}


.lb-div p, h3{
    color: white;
    
}

.lb-div h3{
    border-bottom: 1px solid #0DBA4B;    
    margin: 15px 30%;
    padding: 0 0 15px 0;
    font-size: 150%;
    
}

.lb-picture2{    
    max-width: 100%;
    scale: 0.85;
}

.lb-div p.lb-picture2-text{
    color: #0DBA4B;
    margin: 10% 30% 0 30%;
}



.lb-picture2-text2{
    margin: 0px 30%;
    font-size: 17.5px;
}

.lb-div button{
    margin: 15px 30%;
    background-color: white;
    color: #0DBA4B;
    border: none;
    border-radius: 0 20px 20px 20px ;
    font-size: 15px ;
    font-weight: bold;
    padding: 5px 25px;
}


.rv-rectangle h3{
    color: black;
    padding-left: 10%;    
    padding-top: 10%;
    font-size: 220%;
    
}

.rv-rectangle p{
    padding-left: 10%;
    padding-top: 5%;
    font: 1.5em sans-serif;
}

.rv-rectangle button{    
    background-color: white;
    color:#0DBA4B;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    padding: 15px 25px;
    
}



.triangle-button {
    position: relative;   
    font-size: 16px !important ;    
    margin-left: 10%;
    padding: 15px 25px;    
    border-radius: 0 20px 20px 20px !important;
    
  }

 
  .triangle-button::before {
  
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #0DBA4B;    
  }


  .square-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-left: -15%;  
      
  }
  
  .row {
    display: block;
    
  }
  
  .square {
    width: 250px;
    height: 250px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0 20px;
    
  }
  

.square img{
    display: block;
    margin: auto;
    padding-top: 10%;
}

.square h4{
    text-align: center;
    padding: 5px 10px;
}

.square p{
    text-align: center;
    padding: 5px 10px;
    scale: 0.6;
}

.footer5{
    display: flex;

}

.left-f5{
    flex: 2;
    border: 1px solid red;
}

.right-f5{
    flex: 3;
    border: 1px solid red;
}

.right-f5-div{
    background-image:  url(images/image\ 31.png);
    height: 550px;
    background-color: black;
    background-size:contain;
    background-repeat: no-repeat;
    
}

.left-f5{
    border: 1px solid coral;
    background-color: #000000;
    
}


.left-f5 h2{
    color: white;
    padding: 5% 10%;
    margin-top: 10%;
    
}


.left-f5 p{
    color: white;
    padding: 0 20% 5% 10%;
    font-size: 1.5rem;
    font-weight: lighter;
}

.f5-button{
    font-size: 16px;
    margin-left: 10%;
    padding: 15px 25px;
    border-radius: 0 20px 20px 20px !important;
    color: #0DBA4B;
    width: 150px;
    
}

.right-f5-div2{
    background-image:  url(images/Mask\ group.png);
    height:550px;
    background-size:contain;
    background-repeat: no-repeat;
    margin-left: 40%;

}



.contact-container{
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-top: 10%; */
    /* margin-left: -15%;   */
    border: 1px solid white;
      
  }
  
  .contact-row  {
    display: flex;
    /* margin: auto; */
    flex: 1;
    /* width: auto; */
    border: 1px solid red;
    height: 600px;
    /* justify-content: space-between; */
    
  }

  .contact-section1 {
    flex: 1;
    width: 200px;
    /* justify-content:space-around; */
    /* max-width: 100%; */
    height: 100%;
    /* height: 250px; */
    /* background-color: white; */
    border: 1px solid white;
    /* gap: 10%; */
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
    /* border-radius: 0 20px; */
    
  }

  .contact-section2 {
    flex: 1;
    width: 200px;
    /* justify-content:space-around; */
    /* max-width: 100%; */
    height: 100%;
    /* height: 250px; */
    /* background-color: white; */
    border: 1px solid white;
    /* gap: 10%; */
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
    /* border-radius: 0 20px; */
    
  }

  .contact-section1 img{
    /* scale: 0.3; */
    max-width: 70%;
    justify-content:space-between;
    /* margin-left: -150px; */
    display: block;
    margin: 10% 20% 0 20%;
    /* gap: 20px; */
    
  }


  .contact-section1 h3{
    display: block;
    margin-left: 20%;
    font-size: 150%;
    color: #0DBA4B;
  }
  .contact-section1 p{
    color: #FFFFFF;
    padding: 10px 35% 0 20%;
    font-size: 1.5em;
  }
  .contact-section2 h3{
    margin: 0 20%;
    padding: 10% 0 5% 0;
    font-size: 150%;
  }

  .contact-section2 p{
    padding: 10px 30% 20px 20%;
    /* width: 150px; */
  }

  .txtbox{
    width: 100%;
    height: 40px;
    padding-left: 5%;
    border-radius: 10px;
    background-color: black;
    border-color: #BCBCBC;
    /* display: inline; */
    /* background-size: 150%; */
  }

  .text{
    color: #8B8B8B;
    font-size: 70%;
    
    /* background-color: #000000; */
    /* display: inline; */
  }

  .company-text{
    color: #8B8B8B;
    margin-top: 45px;
  }

  .vector3{
    background-image: url(images/Vector\ 3.png);;
    /* width: 100%; */
    height: 70vh;
    background-size: cover;
    /* width: 100px; */
    /* max-block-size:   60vh; */
    background-repeat: no-repeat;
    position: relative;
  }

  .vector3 h3{
    padding-top: 5%;
    font-size: 150%;
    font-weight: bold;
    
    text-align: center;
  }

  .vector3 span{
    color: #0DBA4B;
    font-size: inherit;
  }

  .vector3 p{
    /* color: white; */
    /* text-align: center; */
    /* padding: 5px 34%; */
    /* font-size: 80%; */
  }

  .nav-link p{
     color: white;
    text-align: center;
    padding: 5px 34%;
    font-size: 80%;
    cursor: pointer;
  }

  .cta{
    color: white;
    /* text-align: center; */
    padding: 5px 34%;
    font-size: 80%;
  }

  .mail{
    color: white;
    /* text-align: center; */
    padding: 5px 34%;
    font-size: 80%;
  }




  .vector3-text{
     margin: 5px 0 0 34%;
     background-color: #000000;
     size: 150%;
     /* display: inline; */
     width: 350px;
     height: 30px;
     border: 1.5px solid #BCBCBC;
     border-radius: 6px;
     color: white;
    
  }



  .vector3-submit{
    background-color: #0DBA4B;
    color: white;
    height: 30px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;

  }

  .links{
    display: flex;
    margin-top: 5%;
  }

  .nav-link{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    flex: 1;
    /* color: inherit; */    
  }

  .nav-link a{
    text-decoration: none;
    color: inherit;
  }


   .nav-link a:hover{
    color: #0DBA4B;
    cursor: pointer;    
   }

   .contact-address{
    padding: 0;
   }


   .contact-address{
    text-align: center;
    color: white;
    padding-top: 10px;
   }

   .phone {
    
    /* text-align: center; */
    padding: 10px 0 0 0;
    font-size: 80%;
    text-align: center;    
   }

   .phone a{
    text-decoration: none;
    color:#0DBA4B;
    font-weight: bold;

   }

   /* .fa{
        text-align: ;
   } */

   .social-icons{
    position: relative;
    /* margin: auto; */
    padding: 0 50%;

   }





 
.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30% 0 0 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    /* position: relative; */
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color:  #3b5999;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color:  #cd201f;
}